.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 40px;
}

body {
  background-color: #ec8a2d;
}

h1 {
  margin: 30px;
  font-family: cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #000000;
}

p {
  font-size: 2rem;
  color: #000000;
  font-family: cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: cursive;

}
